<footer class="footer-base bg-white">
    <div class="container content">
        <div class="row">
            <div class="col-md-4">
                <img class="logo" src="<%= common.assets %>/logo.png" />
                <hr class="space s" />
                <div>
                    <a href="/contact" class="btn btn-sm">Get a free estimate</a>
                </div>
            </div>
            <div class="col-md-4">
                <h3 class="text-black text-uppercase">Contact us</h3>
                <hr class="space space-30" />
                <ul class="fa-ul text-s ul-squares">
                    <li>
                        <%= common.address.street %>
                    </li>
                    <li>
                        <%= common.address.city %>,
                            <%= common.address.state %>,
                                <%= common.address.zip %>
                    </li>
                    <li><%= common.email %></li>
                    <li><%= common.phone.display %></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3 class="text-black text-uppercase">Useful links</h3>
                <hr class="space space-30" />
                <div class="footer-menu text-s">
                    <a href="/about">ABOUT US</a>
                    <a href="/services">SERVICES</a>
                    <a href="/projects">PROJECTS</a>
                    <a href="/contact">CONTACT</a>
                </div>
            </div>
        </div>
        <hr class="space hidden-sm" />
        <div class="row copy-row">
            <div class="col-md-12 copy-text">
                ©
                <%= new Date().getFullYear() %> Olcan Construction Inc. Website by
                    <a href="http://shanebarry.com" target="_blank">Shane Barry</a>
            </div>
        </div>
    </div>
    <% include ../../partials/foot %>
</footer>
